html, body {
    height: 100%;
    margin: 0;
  }
  .content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
  }
  .footer,
  .push {
    height: 50px;
  }



*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    background: #f9f9f9;
}

header{
    background: #273b47;
    margin: 0;
    height: 60px;
    align-items: center;
}

header h2{
    margin-top: 0px;
    color: white;
    padding-top: 12px;
    padding-left: 10px;
}

footer, push {
    background: #273b47;
    margin: 0;
    height: 50px;
}

footer h2 {
    margin-top: 0px;
    color: white;
    padding-top: 12px;
    padding-left: 10px;
}